@font-face {
  font-family: 'maserati';
  src:  url('fonts/maserati.eot?kjig72');
  src:  url('fonts/maserati.eot?kjig72#iefix') format('embedded-opentype'),
    url('fonts/maserati.ttf?kjig72') format('truetype'),
    url('fonts/maserati.woff?kjig72') format('woff'),
    url('fonts/maserati.svg?kjig72#maserati') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'maserati' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ARROW-DOWN:before {
  content: "\e900";
}
.icon-ARROW-LEFT:before {
  content: "\e901";
}
.icon-ARROW-RIGHT:before {
  content: "\e902";
}
.icon-BROCHURE:before {
  content: "\e903";
}
.icon-BUILD-YOUR-OWN:before {
  content: "\e904";
}
.icon-CLOSE-ICON:before {
  content: "\e905";
}
.icon-CONTACT-US:before {
  content: "\e906";
}
.icon-CURRENT-OFFERS:before {
  content: "\e907";
}
.icon-LISTEN-TO-THE-CAR:before {
  content: "\e908";
}
.icon-LOCATE-A-DEALER:before {
  content: "\e909";
}
.icon-Mas-icon:before {
  content: "\e90a";
}
.icon-PAYMENT-ESTIMATOR:before {
  content: "\e90b";
}
.icon-READ-LESS:before {
  content: "\e90c";
}
.icon-READ-MORE:before {
  content: "\e90d";
}
.icon-RECALL-BY-VIN:before {
  content: "\e90e";
}
.icon-REQUEST-A-QUOTE:before {
  content: "\e90f";
}
.icon-SCHEDULE-A-TEST-DRIVE:before {
  content: "\e910";
}
.icon-SEARCH-ICON:before {
  content: "\e911";
}
.icon-SEARCH-NEW-INVENTORY:before {
  content: "\e912";
}
.icon-search-pre-owned:before {
  content: "\e913";
}
.icon-SERVICES--AFTERSALES:before {
  content: "\e914";
}
