
/** ANKO **/
@font-face {
    font-family: 'Anko';
    src: url('../fonts/Anko/Anko-Medium.eot');
    src: url('../fonts/Anko/Anko-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Anko/Anko-Medium.woff2') format('woff2'),
        url('../fonts/Anko/Anko-Medium.woff') format('woff'),
        url('../fonts/Anko/Anko-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Anko';
    src: url('../fonts/Anko/Anko-Bold.eot');
    src: url('../fonts/Anko/Anko-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Anko/Anko-Bold.woff2') format('woff2'),
        url('../fonts/Anko/Anko-Bold.woff') format('woff'),
        url('../fonts/Anko/Anko-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Anko';
    src: url('../fonts/Anko/Anko-MediumItalic.eot');
    src: url('../fonts/Anko/Anko-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Anko/Anko-MediumItalic.woff2') format('woff2'),
        url('../fonts/Anko/Anko-MediumItalic.woff') format('woff'),
        url('../fonts/Anko/Anko-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Anko';
    src: url('../fonts/Anko/Anko-BoldItalic.eot');
    src: url('../fonts/Anko/Anko-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Anko/Anko-BoldItalic.woff2') format('woff2'),
        url('../fonts/Anko/Anko-BoldItalic.woff') format('woff'),
        url('../fonts/Anko/Anko-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Anko';
    src: url('../fonts/Anko/Anko-SemiBold.eot');
    src: url('../fonts/Anko/Anko-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Anko/Anko-SemiBold.woff2') format('woff2'),
        url('../fonts/Anko/Anko-SemiBold.woff') format('woff'),
        url('../fonts/Anko/Anko-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Anko';
    src: url('../fonts/Anko/Anko-RegularItalic.eot');
    src: url('../fonts/Anko/Anko-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Anko/Anko-RegularItalic.woff2') format('woff2'),
        url('../fonts/Anko/Anko-RegularItalic.woff') format('woff'),
        url('../fonts/Anko/Anko-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Anko';
    src: url('../fonts/Anko/Anko-SemiBoldItalic.eot');
    src: url('../fonts/Anko/Anko-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Anko/Anko-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/Anko/Anko-SemiBoldItalic.woff') format('woff'),
        url('../fonts/Anko/Anko-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Anko';
    src: url('../fonts/Anko/Anko-Regular.eot');
    src: url('../fonts/Anko/Anko-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Anko/Anko-Regular.woff2') format('woff2'),
        url('../fonts/Anko/Anko-Regular.woff') format('woff'),
        url('../fonts/Anko/Anko-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/** EVERETT **/
@font-face {
    font-family: 'Everett';
    src: url('../fonts/Everett/Everett-Medium.eot');
    src: url('../fonts/Everett/Everett-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Everett/Everett-Medium.woff2') format('woff2'),
        url('../fonts/Everett/Everett-Medium.woff') format('woff'),
        url('../fonts/Everett/Everett-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Everett';
    src: url('../fonts/Everett/Everett-Light.eot');
    src: url('../fonts/Everett/Everett-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Everett/Everett-Light.woff2') format('woff2'),
        url('../fonts/Everett/Everett-Light.woff') format('woff'),
        url('../fonts/Everett/Everett-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Everett';
    src: url('../fonts/Everett/Everett-Bold.eot');
    src: url('../fonts/Everett/Everett-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Everett/Everett-Bold.woff2') format('woff2'),
        url('../fonts/Everett/Everett-Bold.woff') format('woff'),
        url('../fonts/Everett/Everett-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Everett Mono';
    src: url('../fonts/Everett/EverettMono-Regular.eot');
    src: url('../fonts/Everett/EverettMono-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Everett/EverettMono-Regular.woff2') format('woff2'),
        url('../fonts/Everett/EverettMono-Regular.woff') format('woff'),
        url('../fonts/Everett/EverettMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Everett';
    src: url('../fonts/Everett/Everett-Thin.eot');
    src: url('../fonts/Everett/Everett-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Everett/Everett-Thin.woff2') format('woff2'),
        url('../fonts/Everett/Everett-Thin.woff') format('woff'),
        url('../fonts/Everett/Everett-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Everett';
    src: url('../fonts/Everett/Everett-Regular.eot');
    src: url('../fonts/Everett/Everett-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Everett/Everett-Regular.woff2') format('woff2'),
        url('../fonts/Everett/Everett-Regular.woff') format('woff'),
        url('../fonts/Everett/Everett-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/** SPARTAN **/

@font-face {
    font-family: 'Spartan MB';
    src: url('../fonts/Spartan/SpartanMB-SemiBold.eot');
    src: url('../fonts/Spartan/SpartanMB-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Spartan/SpartanMB-SemiBold.woff2') format('woff2'),
        url('../fonts/Spartan/SpartanMB-SemiBold.woff') format('woff'),
        url('../fonts/Spartan/SpartanMB-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Spartan MB';
    src: url('../fonts/Spartan/SpartanMB-Light.eot');
    src: url('../fonts/Spartan/SpartanMB-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Spartan/SpartanMB-Light.woff2') format('woff2'),
        url('../fonts/Spartan/SpartanMB-Light.woff') format('woff'),
        url('../fonts/Spartan/SpartanMB-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Spartan MB';
    src: url('../fonts/Spartan/SpartanMB-Regular.eot');
    src: url('../fonts/Spartan/SpartanMB-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Spartan/SpartanMB-Regular.woff2') format('woff2'),
        url('../fonts/Spartan/SpartanMB-Regular.woff') format('woff'),
        url('../fonts/Spartan/SpartanMB-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Spartan MB';
    src: url('../fonts/Spartan/SpartanMB-Black.eot');
    src: url('../fonts/Spartan/SpartanMB-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Spartan/SpartanMB-Black.woff2') format('woff2'),
        url('../fonts/Spartan/SpartanMB-Black.woff') format('woff'),
        url('../fonts/Spartan/SpartanMB-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Spartan MB';
    src: url('../fonts/Spartan/SpartanMB-Bold.eot');
    src: url('../fonts/Spartan/SpartanMB-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Spartan/SpartanMB-Bold.woff2') format('woff2'),
        url('../fonts/Spartan/SpartanMB-Bold.woff') format('woff'),
        url('../fonts/Spartan/SpartanMB-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Spartan MB';
    src: url('../fonts/Spartan/SpartanMB-ExtraBold.eot');
    src: url('../fonts/Spartan/SpartanMB-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Spartan/SpartanMB-ExtraBold.woff2') format('woff2'),
        url('../fonts/Spartan/SpartanMB-ExtraBold.woff') format('woff'),
        url('../fonts/Spartan/SpartanMB-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Spartan MB';
    src: url('../fonts/Spartan/SpartanMB-Thin.eot');
    src: url('../fonts/Spartan/SpartanMB-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Spartan/SpartanMB-Thin.woff2') format('woff2'),
        url('../fonts/Spartan/SpartanMB-Thin.woff') format('woff'),
        url('../fonts/Spartan/SpartanMB-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

